body {
	color: #00FF22;
	background-color: #000000;
	font-family: Courier;
	font-size: 1.5em;
	text-align: center;
}

.ul_center {
    	margin-left:auto; 
    	margin-right:auto;
	    text-align: left;
	    display:-moz-inline-stack;
	    display:inline-block;
	    zoom:1;
	    *display:inline;
}

.ul_in_text {
    margin-left: 7%;
    text-align: left;
    margin-right: 7%;
}

a {
    	color: #00FF22;
    	text-decoration: none;
}

.link {
    color: white;
}

.center_table {
	    margin-top: 2em;
	    margin-left:auto;
    	margin-right:auto;
	    border: 1px dashed green;
}

th, td {
	    padding: 0.5em;
	    border: 1px dashed #00FF22;
	    vertical-align:top;
	    text-align: left;
}

#paddedTop {
	padding-top: 2em;
}

.written {
    text-align: left;
    padding-left: 5%;
    padding-right: 5%;
}

.code {
    text-align: left;
    color: black;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #d3d3d3;
    border: 1px dashed gray;
    font-size: 1em;
    white-space: pre-wrap;
}

.code:after {
    content: "\A";
}

.variable {
    color: red;
}

#wrapper {
}

#header {
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 3px solid #00FF22;
    background-color: #000000;
}

#content {
	margin-left: auto;
	margin-right: auto;
    border: 1px solid #00FF22;
    border-top: none;
	width: 70%;
	display: block;

}

#footer {
    margin-top: 30px;
}

#basic_wrapper {
}

#basic_header {
    position: static;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-color: #000000;
}

#basic_content {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;

}

#basic_footer {
    margin-top: 30px;
}

#right_down_0 {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    right: 0;
    width: 190px;
    height: 30px;
    border: 3px solid #00FF22;
}

#left_down_0 {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 0;
    left: 0;
    width: 190px;
    height: 30px;
    border: 3px solid #00FF22;
}

#left_down_1 {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 53px;
    left: 0;
    width: 190px;
    height: 30px;
    border: 3px solid #00FF22;
}

#right_down_1 {
    position: fixed;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom: 53px;
    right: 0;
    width: 190px;
    height: 30px;
    border: 3px solid #00FF22;
}

.divider {
    color: #00FF22;
    width: 95%;
}

.xkcd {
    margin-top: 2em;
}